.text1
{
    text-align: center;
    color: black;
}
.container
{
    display: block;
    max-width: 400px;
    margin: auto;
    background-color: antiquewhite;
    padding-top: 30px;
    border-radius: 18px;
    padding: 32px;
    margin-top: 155px;
}
.t5 mat-form-field
{
    width:100%
}
.center
{
    display: flex;
    justify-content: center;
}
.style
{
    font:caption;
}
.style a1
{
    width:100%
}