<div class="row">
    <div class="col-sm-12">
        <h1 class="h3">Food Menu</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img  class="img4" src="assets/psmpasta.jpg">
        <h5 class="g1" style="font-weight: bold;">parmeson spinach mushroom pasta skillet</h5>
        <i class='fas fa-rupee-sign g1'>149</i>
        <h6 class="g1"><em>perfectly matched with sauteed mushrooms,spinach,and savory parmesan!</em></h6>
        <button class="btn btn-danger"(click)="btnClick('login');" >order now</button>
    </div>
    <div class="col-sm-4">
        <img  class="img4" src="assets/pennearabita.jpg">
        <h5 class="g1" style="font-weight: bold;">penne arabiata</h5>
        <i class='fas fa-rupee-sign g1'>169</i>
        <h6 class="g1"><em>this angry (spicy) italian sauce is simply mouth watery.</em> </h6>
        <button class="btn btn-danger" (click)="btnClick('login');">order now</button>
    </div>
    <div class="col-sm-4">
        <img  class="img4" src="assets/rrpapasta.jpg">
        <h5 class="g1" style="font-weight: bold;">roasted red pepper alla pasta with cheesy oregano</h5>
        <i class='fas fa-rupee-sign g1'>157</i>
        <h6 class="g1"><em>fire-roasted red peppers with fresh herbs, shallots, and garlic!</em></h6>
        <button class="btn btn-danger" (click)="btnClick('login');">order now</button>
    </div>
</div><br><br><br>
<div class="row">
    <div class="col-sm-4">
        <img  class="img5" src="assets/ppasta.jpg">
        <h5 class="g1" style="font-weight: bold;">pesto pasta with broccoli</h5>
        <i class='fas fa-rupee-sign g1'>245</i>
        <h6 class="g1"><em>bright broccoli pesto pasta that's as healthy as it is delicious.</em></h6>
        <button class="btn btn-danger" (click)="btnClick('login');">order now</button>
    </div>
    <div class="col-sm-4">
        <img  class="img5" src="assets/lemonpasta.jpg">
        <h5 class="g1" style="font-weight: bold;">creamy lemon pasta with mushrooms</h5>
        <i class='fas fa-rupee-sign g1'>159</i>
        <h6 class="g1"><em>lemon flavor adds a wonderful bright note to the rich sauce and earthy mushrooms!</em></h6>
        <button class="btn btn-danger" (click)="btnClick('login');">order now</button>
    </div>
    <div class="col-sm-4">
        <img  class="img5" src="assets/wspasta.jpg">
        <h5 class="g1" style="font-weight: bold;">white sauce pasta</h5>
        <i class='fas fa-rupee-sign g1'>200</i>
        <h6 class="g1"><em>rich creamy & saucy pasta,perfecty seasoned with italian herbs</em></h6>
        <button class="btn btn-danger" (click)="btnClick('login');">order now</button>
    </div>
</div>
