<div class="row">
    <div class="col-sm-5">
        <img   class="h1" src="assets/pt4.jpg">
    </div>
    <div class="col-sm-7">
        <img class="h2" src="assets/pt2.jpg">
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img  class="h3" src="assets/pt3.jpg">
    </div>
    <div class="col-sm-5">
        <img class="h4" src="assets/pt7.jpg">
    </div>
    <div class="col-sm-3">
        <img class="h5" src="assets/pt5.jpg">
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img class="h6" src="assets/pt1.jpg">
    </div>
    <div class="col-sm-6">
        <img class="h7" src="assets/pt6.jpg">
    </div>
</div>