<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 c1">
       <app-header></app-header>
    </div>
    <div class="col-sm-8 z1">
       <app-navbar></app-navbar>
       <a routerLink="home">Home</a>&nbsp;&nbsp;
       <a routerLink="categories">Gallery</a>&nbsp;&nbsp;
       <a routerLink="food">Food</a>&nbsp;&nbsp;
       <a routerLink="order">AboutUs</a>&nbsp;&nbsp;
       <a routerLink="login">login</a>&nbsp;&nbsp;
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 c3">
        <app-main></app-main>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 c4">
       <app-footer></app-footer>
    </div>
  </div>
</div>